{% extends "../../modules/_base.html" %}

{% block title %}Startpage{% endblock title %}
{% block content %}

<div class="mt-58 mb-24">
  {% include "../../components/_search-bar.html" %}
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 
                 w-72        sm:w-152       md:w-232       lg:w-312       xl:w-392
            gap-8 mx-auto">
            
  {% for sec in sections %}
    {% include "../../components/_section.html" with section=sec %}
  {% endfor %}
</div>

<script>
  function openAllLinksInSection(triggerElement) {
    const section = triggerElement.closest('section');
    
    if (section) {
      const linksToOpen = section.querySelectorAll('div a');
      
      linksToOpen.forEach(link => {
        const url = link.href;
        if (url) {
          window.open(url, '_blank');
        }
      });
    }
  }
</script>

{% endblock %}