@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

@source "../../../**/*.{html,py,js}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* INFO: Lime */
    --color-primary-50: oklch(98.6% 0.031 120.757);
    --color-primary-100: oklch(96.7% 0.067 122.328);
    --color-primary-200: oklch(93.8% 0.127 124.321);
    --color-primary-300: oklch(89.7% 0.196 126.665);
    --color-primary-400: oklch(84.1% 0.238 128.85);
    --color-primary-500: oklch(76.8% 0.233 130.85);
    --color-primary-600: oklch(64.8% 0.2 131.684);
    --color-primary-700: oklch(53.2% 0.157 131.589);
    --color-primary-800: oklch(45.3% 0.124 130.933);
    --color-primary-900: oklch(40.5% 0.101 131.063);
    --color-primary-950: oklch(27.4% 0.072 132.109);

    /* INFO: gray */
    --color-secondary-50: oklch(98.5% 0.002 247.839);
    --color-secondary-100: oklch(96.7% 0.003 264.542);
    --color-secondary-200: oklch(92.8% 0.006 264.531);
    --color-secondary-300: oklch(87.2% 0.01 258.338);
    --color-secondary-400: oklch(70.7% 0.022 261.325);
    --color-secondary-500: oklch(55.1% 0.027 264.364);
    --color-secondary-600: oklch(44.6% 0.03 256.802);
    --color-secondary-700: oklch(37.3% 0.034 259.733);
    --color-secondary-800: oklch(27.8% 0.033 256.848);
    --color-secondary-900: oklch(21% 0.034 264.665);
    --color-secondary-950: oklch(13% 0.028 261.692);
}

:root {
  font-family: 'Barlow', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer base {
  :focus-visible {
    @apply outline-none;
  }
}

/* ::selection {
  background: var(--color-primary-500);
  color: white;
} */

@layer components {
  .button-base {
    @apply transition-colors dark:text-white rounded-md cursor-pointer;
  }

  .button-primary {
    @apply bg-primary-500/60 hover:bg-primary-500/80 transition-colors dark:text-white rounded-md cursor-pointer;
  }

  .button {
    @apply bg-neutral-500/30 hover:bg-neutral-500/50 transition-colors dark:text-white rounded-md cursor-pointer;
  }

  

  .button-info {
    @apply bg-sky-500/60 hover:bg-sky-500/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
  .button-success {
    @apply bg-emerald-500/60 hover:bg-emerald-500/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
  .button-warn {
    @apply bg-amber-400/60 hover:bg-amber-400/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
  .button-error {
    @apply bg-rose-500/60 hover:bg-rose-500/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
}