@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

@source "../../../**/*.{html,py,js}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* INFO: Lime */
    --color-primary-50: oklch(98.1% 0.03 144.5);
    --color-primary-100: oklch(96.2% 0.06 144.8);
    --color-primary-200: oklch(92.5% 0.11 145.2);
    --color-primary-300: oklch(87.8% 0.17 145.5);
    --color-primary-400: oklch(80.1% 0.21 145.9);
    --color-primary-500: oklch(71.5% 0.22 146.2);
    --color-primary-600: oklch(62.3% 0.20 146.6);
    --color-primary-700: oklch(53.1% 0.17 146.9);
    --color-primary-800: oklch(44.2% 0.14 147.2);
    --color-primary-900: oklch(35.5% 0.11 147.5);
    --color-primary-950: oklch(25.1% 0.08 147.8);

    /* INFO: gray */
    --color-secondary-50: oklch(98.5% 0.003 220);
    --color-secondary-100: oklch(96.5% 0.005 220);
    --color-secondary-200: oklch(92.2% 0.008 220);
    --color-secondary-300: oklch(86.8% 0.012 220);
    --color-secondary-400: oklch(75.5% 0.018 220);
    --color-secondary-500: oklch(63.3% 0.024 220);
    --color-secondary-600: oklch(51.1% 0.028 220);
    --color-secondary-700: oklch(40.2% 0.03 220);
    --color-secondary-800: oklch(30.5% 0.028 220);
    --color-secondary-900: oklch(23.1% 0.022 220);
    --color-secondary-950: oklch(15.5% 0.015 220);
}

:root {
  font-family: 'Barlow', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer base {
  :focus-visible {
    @apply outline-none;
  }
}

/* ::selection {
  background: var(--color-primary-500);
  color: white;
} */

@layer components {
  .button-base {
    @apply transition-colors dark:text-white rounded-md cursor-pointer;
  }

  .button-primary {
    @apply bg-primary-500/60 hover:bg-primary-500/80 transition-colors dark:text-white rounded-md cursor-pointer;
  }

  .button {
    @apply bg-neutral-500/30 hover:bg-neutral-500/50 transition-colors dark:text-white rounded-md cursor-pointer;
  }

  

  .button-info {
    @apply bg-sky-500/60 hover:bg-sky-500/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
  .button-success {
    @apply bg-emerald-500/60 hover:bg-emerald-500/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
  .button-warn {
    @apply bg-amber-400/60 hover:bg-amber-400/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
  .button-error {
    @apply bg-rose-500/60 hover:bg-rose-500/80 transition-colors dark:text-white h-10 rounded-md cursor-pointer;
  }
}