{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        <script>
            (() => {
              let theme;
              try {
                theme = localStorage.getItem('theme');
              } catch (e) {}

              if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
              } else {
                document.documentElement.classList.remove('dark');
              }
            })();
        </script>
    </head>

  <body class="bg-neutral-100 dark:bg-neutral-900 dark:text-white min-h-screen flex flex-col">
    <header class="fixed top-0 right-0 z-50 p-5">
      {% include "./_messages.html" %}
      {% include "../components/_darkmode-button.html" %}
    </header>
    
    <main class="flex-grow flex flex-col">
      {% block content %}{% endblock content %}
    </main>

  </body>
</html>
